<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441043948320-tlsqcgudl3f4ncd8t2i683emkjqhjv3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441043948320-tlsqcgudl3f4ncd8t2i683emkjqhjv3j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>441043948320-msq79eeogrh4vj3k8i89mmg2il91592e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg0zU1YDTg_qNPKLFeX2z0zKOtggF3s2k</string>
	<key>GCM_SENDER_ID</key>
	<string>441043948320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BuyukerYazilim.ViFi</string>
	<key>PROJECT_ID</key>
	<string>vifi-831a8</string>
	<key>STORAGE_BUCKET</key>
	<string>vifi-831a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:441043948320:ios:d64c3ee5b5ffb02e</string>
	<key>DATABASE_URL</key>
	<string>https://vifi-831a8.firebaseio.com</string>
</dict>
</plist>
